<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> no se puede grabar este este tweet:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="card" style="width: 528px;">
  <div class="card-body">
    <p class="card-text">
    <div>
      <%= form.label :"descripción", style: "display: block" %>
      <%= form.text_area :description, rows: 5, cols: 60 %>
      </div>
    </p>
    <div>
    <%= form.label :"nombre del usuario", style: "display: block" %>
    <%= form.text_field :user_name, size: 40 %>
    </div>

  </div>
</div>

  
  
  <br>
  <div>
   
    <%= form.button "Guardar Tweet", class: "btn btn-primary mb-3" %>

  </div>
<% end %>
