<p style="color: green"><%= notice %></p>
<h1>Tweets</h1>


<%= link_to 'Nuevo Tweet', new_tweet_path, class: 'btn btn-primary mb-3' %>
<table class="table">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.description %></td>
        <td><%= tweet.user_name %></td>
        <td><%= link_to 'Mostrar', tweet %></td>
        <td><%= link_to 'Editar', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Eliminar', tweet, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tweets %>





